.SideNavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: white;
  width: 100%;
  position: relative;
  margin-top: 2px;;

  &__Buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  &__Indicator {
    display: flex;
    position: absolute;
    top: -78px;
    right: 0px;
    width: 4px;
    height: 85px;
    background-color: var(--cataboom-blue, #039BFF);
    transition: transform 0.3s ease-out;
  }

}
