.ExperienceActiveStatus {
  display: flex;
  align-items: flex-start;
  gap: 5px;

  &__Active {
    color: #B6B6B6;
    font-family: "RedHatDisplay", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  &__Date {
    color: #B6B6B6;
    font-family: "RedHatDisplay", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
}
