.NavBar {

  &__Buttons {
    display: flex;
    gap: 10px;
  }
}

.NavLink {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &__Button {
    display: flex;
    position: relative;
    padding: 20px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FFF;
    overflow: hidden;
  }

  &__Icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    fill: #b6b6b6;

    &--active > .Icon svg path {
      fill: var(--cataboom-blue, #039BFF);
    }
  }

  &__Text {
    display: flex;
    flex-direction: row;
    color: #b6b6b6;
    font-size: 13px;
    font-family: 'RedHatDisplay', sans-serif;
    font-weight: 800;
    line-height: 13px;
    justify-content: center;
    word-wrap: break-word;

    &--active {
      color: #686b7a;
    }
  }

  &__Count {
    flex-direction: row;
    justify-content: center;
    display: flex;

    &--active > .NavLinkCount {
      background-color: var(--Dark-Navy, #2C3D55);
    }
  }
}
