.ChangePassword {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid rgba(56.31, 56.31, 56.31, 0.33);

  &__InformationPanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 300px;
    max-width: 300px;
  }

  &__RightPanel {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    padding: 40px;
  }

  &__TopInput {
    width: 100%;
  }

  &__BottomInput {
    width: 100%;
    margin-top: 15px;
  }

  &__Input {
    display: flex;
    flex: 1 1 auto;
    margin: 5px;
    gap: 15px;
  }
}
