.GlobalStyles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__NavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1;
  }

  &__SideNav {
    display: flex;
    flex-direction: column;
    flex: 0 0 295px;
    border-right: 1px solid rgba(56.31, 56.31, 56.31, 0.33);
  }

  &__Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
  }

  &__SettingsInformation {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
  }

  &__MainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F6F6F6;
  }
}
