.Users {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: relative;

  &__Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__Pill {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 26px;
    left: 26px;
  }

  &__Util {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;

    & > .ButtonComponent {
      position: absolute;
      right: 40px;
    }
  }


}

.FormInput {
  background-color: #EEEEEE;
  margin: 40px;
}

.UserRowsPanel {
  margin-top: 0px;
}
