.EditUserPanel {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 16px;
  align-items: flex-start;

  &__UserPhoto {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-bottom: 16px;
  }

  &__InputsTop {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
  }

  &__InputsBottom {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
  }

  &__Input {
    display: flex;
    flex: 1 1 auto;
  }
}
