.SocialPanel {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  gap: 19px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(56.31, 56.31, 56.31, 0.33);

  &__Actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  &__Name {
    font-size: 14px;
    font-weight: 800;
    color: #747F8F;
  }

  &__Label {
    font-size: 14px;
    font-weight: 400;
    color: #747F8F;
  }

  &__Share {
    font-size: 14px;
    font-weight: 400;
    color: #747F8F;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  &__Refresh {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    color: #747F8F;
    align-items: center;
    gap: 5px;
  }

}
